<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>examples</title>
</head>

<body>
    <div id="app">

        <p>{{msg}}</p>
        <p v-for="">{{msg}}</p>
        <input type="text" v-model="msg">
        <h1 v-text="msg"></h1>
        <div>
            <input v-on:input="input" type="text" v-model="obj.name">
            <button v-on:click="hello">{{btnName}}1</button>
            <button v-on:click="hello1(msg,1,'as')">{{btnName}}2</button>
        </div>
    </div>
</body>

</html>