<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>examples</title>
</head>

<body>
    <div id="app">
        {{msg}}
        <h1>{{msg1}}</h1>
        <h3 v-text="msg2"></h3>
        <div>
            <input type="text" v-model="msg">
            <button v-on:click="hello">say</button>
        </div>
        <div v-html="msg3"></div>
        <input v-model="msg4" type="text">
        <!-- <p>This is an MVVM framework</p> -->
    </div>
</body>

</html>